<% include ../../partials/head %>
<title><%= settings.siteName %> - <%= userDetails.name %>'s Profile</title>
</head>
<body class="vertical-layout vertical-content-menu 2-columns menu-expanded fixed-navbar"
      data-open="click" data-menu="vertical-content-menu" data-col="2-columns">
<div id="app-root">
    <% include ../../partials/header %>
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <% include ../../partials/sidebar %>
            <div class="content-body">
                <div class="col-md-8 card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Notifications
                        </h3>
                    </div>
                    <div class="card-body">
                        <ul class="notification-media">
                            <li class="scrollable-container media-list w-100">
                                <% notifications.forEach(function(notification){ %>
                                    <a href="/notifications/<%= notification.id %>">
                                        <div class="media">
                                            <div class="media-left align-self-center"><i class="ft-bell icon-bg-circle bg-cyan"></i></div>
                                            <div class="media-body">
                                                <h6 class="media-heading"><%= notification.title %></h6>
                                                <p class="notification-text font-small-3 text-muted"><%= notification.briefMessage %></p>
                                                <small>
                                                    <time class="media-meta text-muted"><%= timeAgo(notification.createdAt)%></time>
                                                </small>
                                            </div>
                                        </div>
                                    </a>
                                <% }) %>
                            </li>
                        </ul>

                        <% if (pages > 0) { %>
                        <ul class="pagination justify-content-center pagination-separate pagination-curved">
                            <% if (current == 1) { %>
                            <li class="page-item disabled"><a class="page-link">First</a></li>
                            <% } else { %>
                            <li class="page-item"><a class="page-link" href="/notifications?page=1">First</a></li>
                            <% } %>
                            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                            <% if (i == current) { %>
                            <li class="page-item active"><a class="page-link"><%= i %></a></li>
                            <% } else { %>
                            <li class="page-item"><a class="page-link" href="/notifications?page=<%= i %>"><%= i %></a></li>
                            <% } %>
                            <% } %>
                            <% if (current == pages) { %>
                            <li class="page-item disabled"><a class="page-link">Last</a></li>
                            <% } else { %>
                            <li class="page-item"><a class="page-link" href="/notifications?page=<%= pages %>">Last</a></li>
                            <% } %>
                        </ul>
                        <% } %>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<% include ../../partials/footer %>
<script src="/js/vendor.min.js"></script>
<script src="/js/main-bundle.min.js"></script>
</body>
</html>
