<% include ../../partials/head %>
<title><%= settings.siteName %> - <%= userDetails.name %>'s Profile</title>
</head>
<body class="vertical-layout vertical-content-menu 2-columns menu-expanded fixed-navbar"
      data-open="click" data-menu="vertical-content-menu" data-col="2-columns">
<div id="app-root">
    <% include ../../partials/header %>
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <% include ../../partials/sidebar %>
            <div class="content-body">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Referrals
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="card-title mb-5 mt-">Share your referral link on social media.</div>
                        <div class="row clearfix">
                            <div class="col-sm-10 col-md-4 float-left">
                                <a href="https://www.facebook.com/sharer/sharer.php?u=<%= referralLink %>" class="btn btn-social width-200 mr-1 mb-1 btn-facebook" target="_blank">
                                    <i class="la la-facebook font-medium-3"></i> Facebook</a>
                                <a href="https://twitter.com/share?url=<%= referralLink %>&amp;text=<%= settings.siteDescription %>&amp;hashtags=<%= settings.siteName %>"
                                   class="btn btn-social width-200 mr-1 mb-1 btn-twitter"  target="_blank">
                                    <span class="la la-twitter font-medium-3"></span> Twitter</a>
                                <a href="https://plus.google.com/share?url=<%= referralLink %>"
                                   target="_blank" class="btn btn-social width-200 mr-1 mb-1 btn-google">
                                    <span class="la la-google font-medium-3"></span> Sign in with google</a>
                            </div>
                            <div class="col-sm-10 col-md-8 float-right">
                                <div class="control-label">Referral Link <span class="float-right clearfix"><button role="button" id="copybtn" class="btn btn-link" data-clipboard-text="<%= referralLink %>">copy to clipboard</button></span></div>
                                <input type="text" value="<%= referralLink %>" class="form-control" readonly>
                            </div>
                        </div>
                        <h4 class="card-title mt-3 mb-3">People Referred</h4>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>User</th>
                                    <th>Date of Referral</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% referrals.forEach(function(referral) { %>
                                    <tr>
                                        <td><%= referral.User.name %></td>
                                        <td><%= referral.createdAt.getDate()+' '+monthNames[referral.createdAt.getMonth()]+' '+referral.createdAt.getFullYear() %></td>
                                        <% if(referral.isDone) { %>
                                        <td><div class="badge badge-success round">
                                                <span>Approved</span>
                                                <i class="la la-check font-medium-2"></i>
                                            </div></td><% } else { %>
                                        <td><div class="badge badge-warning round">
                                                <span>Pending</span>
                                                <i class="la la-hourglass-1 font-medium-2"></i>
                                            </div></td><% } %>
                                    </tr>
                                <% }) %>
                                </tbody>
                            </table>
                        </div>
                        <% if (pages > 0) { %>
                        <ul class="pagination justify-content-center pagination-separate pagination-curved">
                            <% if (current == 1) { %>
                            <li class="page-item disabled"><a class="page-link">First</a></li>
                            <% } else { %>
                            <li class="page-item"><a class="page-link" href="/referrals?page=1">First</a></li>
                            <% } %>
                            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                            <% if (i == current) { %>
                            <li class="page-item active"><a class="page-link"><%= i %></a></li>
                            <% } else { %>
                            <li class="page-item"><a class="page-link" href="/referrals?page=<%= i %>"><%= i %></a></li>
                            <% } %>
                            <% } %>
                            <% if (current == pages) { %>
                            <li class="page-item disabled"><a class="page-link">Last</a></li>
                            <% } else { %>
                            <li class="page-item"><a class="page-link" href="/referrals?page=<%= pages %>">Last</a></li>
                            <% } %>
                        </ul>
                        <% } %>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<% include ../../partials/footer %>
<script src="/js/main-bundle.min.js"></script>
<script>

</script>
</body>
</html>
